<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vinay.covidinfo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CovidInfo">
        <activity android:name="com.vinay.covidinfo.ProtectionActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity android:name="com.vinay.covidinfo.HealthActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity android:name="com.vinay.covidinfo.CovidResourceActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity android:name="com.vinay.covidinfo.MainActivity"
            android:colorMode="hdr"
            android:background="#358597"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vinay.covidinfo.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>